<p id="notice"><%= notice %></p>

<h1>Listing Anounces</h1>

<table>
  <thead>
    <tr>
      <th>Titlu</th>
      <th>Content</th>
      <th>Grupe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anounces.each do |anounce| %>
      <tr>
        <td><%= anounce.titlu %></td>
        <td><%= anounce.content %></td>
        <td><%= anounce.grupe_id %></td>
        <td><%= link_to 'Show', anounce %></td>
        <td><%= link_to 'Edit', edit_anounce_path(anounce) %></td>
        <td><%= link_to 'Destroy', anounce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anounce', new_anounce_path %>
