<div class="panel panel-default devise-bs col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
  <div class="panel-heading">
    <h4><%= t('.Inregistrare', :default => "Inregistrare") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Nume %><br />
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Prenume %><br />
        <%= f.text_field :lastname, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Data_nasterii %><br />
        <%= f.date_field :birth, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Telefon %><br />
        <%= f.text_field :tel, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :IDNO %><br />
        <%= f.text_field :idnp, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :SeriaBI %><br />
        <%= f.text_field :seria, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Adresa %><br />
        <%= f.text_field :adresa, class: "form-control" %>
      </div>
      <div class="form-group col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <%= f.label :Imagine %><br />
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
      <%= f.submit t('.sign_up', default: "Inregistrare"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
