<div class="panel center col-sm-8 col-md-8 col-xs-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-xs-offset-2 col-lg-offset-2">
<%- model_class = Sigurance -%>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nume) %> : </strong></dt>
  <dd><%= @sigurance.nume %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prenume) %> : </strong></dt>
  <dd><%= @sigurance.prenume %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tel) %> : </strong></dt>
  <dd><%= @sigurance.tel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %> : </strong></dt>
  <dd><%= @sigurance.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %> : </strong></dt>
  <dd><%=raw @sigurance.content %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sigurances_path, :class => 'btn btn-default'  %>
</div>