<h1>Cerere</h1>
<p>
  A fost depusă o nouă cerere de înregistrare
</p>
<span> Nume : <%= @sigurance.nume %></span><br>
<span> Prenume : <%= @sigurance.prenume %></span><br>
<span> E-mail : <%= @sigurance.email %></span><br>
<span> Telefon : <%= @sigurance.tel %></span><br>
<span> Mesaj : <%= @sigurance.content %></span><br>
