<h1>Cerere</h1>
<p>
  A fost depusă o nouă cerere de înregistrare
</p>
<span> Nume : <%= @sigurance.nume %></span>
<span> Prenume : <%= @sigurance.prenume %></span>
<span> E-mail : <%= @sigurance.email %></span>
<span> Telefon : <%= @sigurance.tel %></span>
<span> Mesaj : <%= @sigurance.content %></span>
