<html>
  <body>
    <%= yield %>
    <p>Cerere de înscriere</p>
    <p> Nume: <%= @comment.user.name %> </p>
	<p> Prenume: <%= @comment.user.lastname %>	</p>
	<p> Data naşterii: <%= @comment.user.birth %>	</p>
	<p> Adresa: <%= @comment.user.adresa %>	</p>
	<p> Telefon: <%= @comment.user.tel %>	</p>
	<p> Seria: <%= @comment.user.seria %>	</p>
	<p> IDNO: <%= @comment.user.idnp %>	</p>
	<p> E-mail: <%= @comment.user.email %>	</p>
	<p> <%= @comment.content %>	</p>
    Thanks!
  </body>
</html>
